@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Playfair+Display&family=Roboto&family=Ubuntu&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.latestCard{
    display: inline-block;
    cursor: pointer;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

 .cardLatest-img{
    width: 100%;
    height: 290px;
}

.latestCard:hover{
    transform: scale(1.05);
}

.card-hover:hover {
    /* Define your hover styles here */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Example shadow effect */
    transform: translateY(-5px); /* Example of lifting the card slightly */
    transition: all 0.3s ease; /* Smooth transition effect */
  }
  